// app global css in SCSS form

a {
  text-decoration: none;
  background-color: white;
  color: white;
  &:hover {
    color: white;
  }
  &:focus {
    color: white;
  }
}

.border_default {
  border-radius: 10px;
}

.icon_negative {
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: $negative;
    font-size: 25px !important;
    transition: all 300ms;
  }
}

.app_border {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}
